/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "select2";
 @import "select2-bootstrap";


 // devise sign-up page
 .row {
   .col-md-4 {

   }
 }
 .signup {
   border: 5px solid #DDD;
   height: auto;
   width: 90%;
   margin: 50px auto ;
   border-radius: 20px;
   padding: 0;
   h2 {
     margin-top: 40px;
   }
   .group {
     width: 320px;
     margin: 30px auto 25px;
   }
 }
 // end of signup

 // devise log-in page
 .login{
   border: 5px solid #DDD;
   height: auto;
   width: 90%;
   margin: 50px auto ;
   border-radius: 20px;
   padding: 0;
   h2 {
     margin-top: 50px;
   }
   .group {
     width: 320px;
     margin: 30px auto 25px;
     .checkbox {
       display: inline;
     }
   }
   .form-group.boolean {
     display: inline ;
     width: 160px;
   }
 }
 // end of log-in page
