/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "select2";
 @import "select2-bootstrap";

// start of navbar-cart
#top-cart {
  .cart-bd {
    width: 130px;
    height: 50px;
    padding: 15px 15px;
    a {
      text-decoration: none;
      color: #9d9d9d ;
    }
    a:hover {
      color: #FFF ;
    }
  }
  .cart-hide {
    font-size: 12px;
    background: #FFF;
    position: absolute;
    right: 25px;
    top: 50px;
    z-index: 99;
    border: 1px solid #DDD;
    width: 330px;
    display: none;

    .product-image img{
      height: 35px;
      width: 53px;
      margin: 8px;
    }

    .cart-option {
      a {
        text-decoration: none;
        color: #707473 ;
      }
      a:hover {
        color: #44A8F2 ;
      }

      text-align: right;
      width: 110px;
      margin: 8px 0px;

      .product-price{
        padding: 8px 4px;
        font-size: 16px;
        color: #333;
      }
      .cart-action {
        padding: 8px 4px;
      }
    }

    .product-title {
      width: 140px;
      padding: 0px 5px;
      margin: 8px 0px;
      a {
        text-decoration: none;
        color: #707473 ;
      }
      a:hover {
        color: #44A8F2 ;
      }
    }

    .clearfix {
      border-bottom: 1px solid #DDD;
    }

    .notice {
      margin: 8px 15px;
      font-size: 26px;
    }

    .checkout {
      margin: 15px 0px 20px 0;
      padding: 0 15px;
    em {
      font-size: 16px;
    }
    }
  }
}
// end of navbar-cart

//start of goTtop
.goTop {
  position: fixed;
  bottom: 86px;
  right: 30px;
  height: 40px;
  width: 40px;
  font-size: 26px;
  background-color: #44A8F2;
  color: #fff;
  border-radius: 20px;
  display: none;
}
.goTop:hover {
  box-shadow: 0px 0px 30px #bbb;
}
//end of goTop


// devise sign-up page
.signup {
   border: 5px solid #DDD;
   height: auto;
   width: 90%;
   margin: 50px auto ;
   border-radius: 20px;
   padding: 0;
   h2 {
     margin-top: 40px;
   }
   .group {
     width: 320px;
     margin: 30px auto 25px;
   }
}
// end of signup

// devise log-in page
.login{
   border: 5px solid #DDD;
   height: auto;
   width: 90%;
   margin: 50px auto ;
   border-radius: 20px;
   padding: 0;
   h2 {
     margin-top: 50px;
   }
   .group {
     width: 320px;
     margin: 30px auto 25px;
     .checkbox {
       display: inline;
     }
   }
   .form-group.boolean {
     display: inline ;
     width: 160px;
   }
}

 // end of log-in page
