// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//products#index category navbar
nav.category_nav {
  // border: 1px solid red;

  ul {
    display: block;
    margin: 0 auto 5px;
    padding: 0 auto;
    a {
      padding: 0;
    }
    li.home {
      margin-top: 40px;
      font-size: 26px;
    }
    li {
      margin: 0 40px;
      img {
        display: block;  //与下面一行结合，使图片居中
        margin: 0 auto;
      }
    }
  }
}

//start of products#index carousel
 div.category{

  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: 30px;
  min-width: 1200px;
  background-color: rgba(0,0,0,.8);
  margin-top: 0;

  ol {
    li {
      border: none;
      background-color: #8f9092;
      opacity: 0.7;
    }
  }
  .carousel-inner > .item > img {
    width: 100%; /* Set width to 100% */
    height: 500px;

  }

  div.carousel-caption{
    width: 60%;
    left: 20%;
    top: 40%;
    text-align: left;
    h1{
      text-align: center;
      font-size: 40px;
    }
    h2 {
      font-size: 30px;
      margin-bottom: 20px;
      color: #fff !important;
    }
    p {
      font-size: 20px;

    }
  }

  @media (max-width: 600px) {
      .carousel-caption {
          display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
      }
  }

  a.carousel-control i {
    font-size: 80px;          /* 改变大小 */
    font-weight: normal;
    line-height: 500px;        /* 为了使元素居中 */
  }

}
//end of products#index carousel

// start of products#index product-list
#product-list {
  margin-bottom: 50px;
  margin-top: 25px;
  background-color: #f7f8f9;
  padding: 0;
  ul.product-list {
    text-align: center;

    li {
      // border: 1px solid blue;
      height: 353px;
      width: 280px;
      margin: 8px 9px 8px 9px;
      padding: 0;
      overflow: hidden;
      background-color: #FFF;

      .title {
        color: #333;
        margin: 20px;
        height: 50px;
        // border: 1px solid red;

      }
      .price {
        color: #44A8F2;
      }
    }
    li:hover {
      box-shadow: 0 0 8px 8px rgba(0,0,0,0.04);
      transition: 0.3s;
    }
    .image {
      height: 198px;
      overflow: hidden;
      // border: 1px solid green;
      align-content: center;
      margin-top: 30px;
      img {
        padding: 0 5px;
        width: 100%;
        // border: 1px solid green;
      }
    }
  }
}
// end of products#index product-list


div.col-md-10.product-show {
  // background-color: #FFF;
  // padding: 0 ;
  margin-bottom: 100px;

  // start of products#show breadcrub
  ol.breadcrumb{
    background-color: #FFF;
    // width: 50%;
    margin: 30px 0 2px 0;

    // margin-bottom: 10px;
    // border: 1px solid red !important;
    li {
      // border: 1px solid red !important;

    }
  }
  // end of products#show breadcrub

  .row{
    background-color: #FFF;
    padding-bottom: 30px;
    //products#show product photos
    div.preview {
      background-color: #FFF;
      .preview-pic {
        // border: 1px solid red;
        img {
          margin-top: 60px;
          height: 396px;
          width: 595px;
          // border: 1px solid #ddd;
          vertical-align: top;
        }
      }
      .preview-thumb {
        margin: 10px 0;
        padding: 0 0 0 100px;;
        li {
          margin: 20px 10px 50px 10px;;
          img {
            height: 35px;
            width: 53px;
          }
          a {
            border-radius: 0px;
            padding: 0px;
            border: 1px solid #ddd;
          }
          a:hover,
          a:active {
            border: 1px solid #D32048;
          }
        }
      }
    }

    // products#show info-section
    .product-info-section {
      background-color: #FFF;

      // border: 1px solid #D32048;
      height: auto;
      width: 450px;
      margin: 60px 5px 0 100px;
      padding: 40px 0 0 5px;
      .price {
        font-size: 26px;
      }

      .btn {
        border-radius: 0;
        border: none;
        color: #FFF;
      }

      a, a:hover, a:active {
        background-color:  #44A8F2;
        color: #FFF;

      }
    }
  }

  // part of comment & product details
  .product_details {
    background-color: #FFF;

    margin-top: 80px;
    // min-height: 1000px;
    // margin-bottom: 100px;
    padding: 0 0 50px 0 !important;
    border: 1px solid #DDD;
    #product_details {
      width: 800px;
      img {
        width: 100%;
      }
    }
    .btn {
      background-color:  #44A8F2;
      border-radius: 0;
      border: none;
    }
    ul {
      margin: 0 0 50px 0 !important;
      background-color: #f7f8f9;
      margin: 0;


      li {
        // margin-left: 0;
        // margin-right: 0;
        width: 50%;
        text-align: center;
        a {
          margin: 0;
          color: #333;

          font-size: 16px;
        }
      }
      .comment-body{
        width: 20px;
      }
    }
  }
}
