// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// products#show product photos
.row {
  .preview {
    .preview-pic {
      // border: 1px solid red;
      img {
        margin-top: 60px;
        height: 396px;
        width: 595px;
        // border: 1px solid #ddd;
        vertical-align: top;
      }
    }
    .preview-thumb {
      margin: 10px 0;
      padding: 0 0 0 100px;;
      li {
        margin: 20px 10px 50px 10px;;
        img {
          height: 35px;
          width: 53px;
        }
        a {
          border-radius: 0px;
          padding: 0px;
          border: 1px solid #ddd;
        }
        a:hover,
        a:active {
          border: 1px solid #D32048;
        }
      }
    }
  }
}

// products#show info-section
.product-info-section {
  // border: 1px solid #D32048;
  height: auto;
  width: 450px;
  margin: 60px 5px 0 100px;
  padding: 40px 0 0 5px;
  .price {
    font-size: 26px;
  }

  .btn {
    border-radius: 0;
    border: none;
    color: #FFF;
  }

  a, a:hover, a:active {
    background-color:  #44A8F2;
    color: #FFF;

  }
}

// tart of comment & product details
.comment {
  .btn {
    background-color:  #44A8F2;
    border-radius: 0;
    border: none;
  }
  ul {
    margin: 50px 0 80px;
    li {
      width: 582.5px;
      text-align: center;
      a {
        margin: 0;
        color: #44A8F2;
        font-size: 16px;
      }
    }
  }
}
