// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// products#show product photos
.row {
  .preview {
    .preview-pic {
      // border: 1px solid red;
      img {
        margin-top: 60px;
        height: 396px;
        width: 595px;
        // border: 1px solid #ddd;
        vertical-align: top;
      }
    }
    .preview-thumb {
      margin: 10px 0;
      padding: 0 0 0 100px;;
      li {
        margin: 20px 10px 50px 10px;;
        img {
          height: 35px;
          width: 53px;
        }
        a {
          border-radius: 0px;
          padding: 0px;
          border: 1px solid #ddd;
        }
        a:hover,
        a:active {
          border: 1px solid #D32048;
        }
      }
    }
  }
}

// devise sign-up page
.row {
  .col-md-4 {

  }
}
.signup {
  border: 5px solid #DDD;
  height: auto;
  width: 90%;
  margin: 50px auto ;
  border-radius: 20px;
  padding: 0;
  h2 {
    margin-top: 40px;
  }
  .group {
    width: 320px;
    margin: 30px auto 25px;
  }
}
// end of signup

// devise log-in page

.login{
  border: 5px solid #DDD;
  height: auto;
  width: 90%;
  margin: 50px auto ;
  border-radius: 20px;
  padding: 0;

  h2 {
    margin-top: 50px;
  }

  .group {
    width: 320px;
    margin: 30px auto 25px;
    .checkbox {
      display: inline;
    }
  }
  .form-group.boolean {
    display: inline ;
    width: 160px;
  }


}
