// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//start of navbar-welcome
.top-navbar {
  background-color: #333 !important;
  border-radius: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  // width: 100%;

  .navbar-header {
    a {
      position: relative;
      top: -28px;
      img {
        margin-bottom: -3px;
        width: 80px;
        height: 80px;
      }
    }
  }
}

.navbar-welcome {
  background-color: transparent !important;
  border-color: transparent !important;
  padding: 0;
  border-radius: 0;
  &.show_bgcolor {
    background-color: #333 !important;
  }
  .navbar-header {
    a {
      position: relative;
      top: -28px;
      img {
        margin-bottom: -3px;
        width: 80px;
        height: 80px;
      }
    }
  }
  li > a {
    color: #fff ;
  }
  li > a:active,
  li > a:hover {
    color: #44A8F2 ;
    background-color: #333;
  }
}

//end of navbar-welcome


// start of landing page页面轮播
#Carousel1 {
  height: 750px;
  min-width:1200px;
  width: 100%;
  position: relative;

  // border: 3px solid blue;
  overflow: hidden;
  .carousel-inner > .item > img {
    width: 100%; /* Set width to 100% */
  }

  .carousel-caption {
    top: 40px;
    height: 300px;
    letter-spacing: 5px;
    font-size: 42px;
    font-weight: 500;
    img {
      height: 220px;
    }
    a {
      margin-top: 40px;
      background-color: #44A8F2;
      color: #fff;
    }
  }

  @media (max-width: 600px) {
      .carousel-caption {
          display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
      }
  }
  a.carousel-control.left > i,
  a.carousel-control.right > i {
    font-size: 120px;          /* 改变大小 */
    font-weight: normal;
    line-height: 750px;        /* 为了使元素居中 */
  }
}
// end of landing page页面轮播

//  start of apply-area
.scene-area {
  background-color: #FCF8EE;
  color: #9d9d9d;
  height: 800px;
  padding: 10px 50px 50px 50px;
  padding-top: 40px;
  // padding: 0;
  .scene {
    height: 340px;
    padding: 40px;
    p {
      font-size: 30px;
      font-weight: 500;
      color: #fff;
      position: absolute;
      top: 70%;
      left: 0px;
      width: 100%;
      text-align: center;

    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
// end of apply-area

// start of video area
.video-area {
  background-color: #DCF9F1;
  height: 680px;
  padding: 10px 50px 25px 50px;
  h1 {
    margin: 50px 0 80px 0;
    color: #9d9d9d;

  }
}
// end of video area

//start of text-area
.text-area {
  background-color: #FCF8EE;
  height: 1200px;
  overflow: hidden;
  text-align: center;
  letter-spacing: 4px;
  color: #9d9d9d;

  div.life {
    width: 100%;
    height: 480px;
    background-image: image-url('text-1.jpg');
    background-size: cover;
    img {
      height: 150px;;
      width: 290px;
      position: relative;
      right: -430px;
      bottom: 80px;
    }
  }

  h1 {
    margin: 60px 0 50px;
  }
  .bag {
    img {
      height: 200px;
      width: 200px;
    }
    a {
      margin-top: 40px;
      background-color: #44A8F2;
      color: #fff;
    }
  }

}
//end of text-area

// start of footer
  // start这一步分是将footer置底
  html,
  body {
  	margin:0;
  	padding:0;
  	height:100%;
  }
  #wrapper {
  	min-height:100%;
  	position:relative;
  }

  #content {
  	padding-bottom:207px; /* Height of the footer element */

  }
  #footer {
  	width:100%;
  	height:207px;
  	position:absolute;
  	bottom:0;
  	left:0;
  }
  // end 这一步分是将footer置底

footer {
  padding: 10px 0;
  background-color: #333;
  color: #9d9d9d;
  .row{
    padding: 30px 35% 15px;
  }
  dt {
    font-size: 16px;
  }
  a {
    color: #9d9d9d;
  }
  a:hover,
  a:active {
    color: #fff;
  }
  // p {
  //   padding: 10px 0;
  // }
}
// end of footer
